character-card {
	display: block;
	position: relative;
	max-width: 400px;
	
	&.ui.link {
		transition: all .1s ease;
	}
	&.ui.link:hover {
		cursor: pointer;
		margin-top: -.25em;
		margin-bottom: .25em;
	}
	
	> .content {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		
		> .stars > img {
			margin-right: -3%;
			width: 13%;
		}
		
		> .name {
			color: white;
			line-height: 1em;
			padding: 0 .7em .9em;
			overflow: hidden;
			text-overflow: ellipsis;
			text-shadow: 0 0 .1em black;
			white-space: nowrap;
		}
	}
}