<h5 class="ui header">
	Show Top {{ctrl.limit}} Players
	<a ng-repeat="limit in ctrl.limits" class="ui label"
		ng-class="{ 'violet': limit === ctrl.limit }"
		ng-click="ctrl.limit = limit">
		{{limit}}
	</a>
</h5>

<div class="ui stackable doubling four column grid">
	<div ng-repeat="stat in ctrl.stats" class="column">
		<table class="ui unstackable table">
			<thead>
				<tr>
					<th colspan="3">{{ctrl.statNames[stat]}} Ranking</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="character in ctrl.ranking[stat]" ng-show="$index < ctrl.limit">
					<td>{{character[stat].ranking}}</td>
					<td><a ui-sref="character-details({characterId: character.id})">{{character.name.en}}</a></td>
					<td>{{character[stat].max}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>