<div ng-show="!prevEvolution && !evolution">
	This character has no evolution.
</div>
<div ng-if="prevEvolution || evolution" class="ui doubling three column grid">
	<div ng-if="prevEvolution" class="column">
		<a ui-sref="character-details({ characterId: prevEvolution.preResult })">
			<character-card ng-model="prevEvolution.preResult" class="ui link"></character-card>
		</a>
	</div>
	<div ng-if="prevEvolution" class="mobile tablet only column"></div>
	
	<div ng-if="evolution" class="column">
		<a ui-sref="character-details({ characterId: evolution.result })">
			<character-card ng-model="evolution.result" class="ui link"></character-card>
		</a>
	</div>
	<div ng-if="evolution" class="column">
		<h5 class="ui header">Materials</h5>
		<div ng-repeat="material in evolution.materials">
			x{{material.count}}
			<a ui-sref="character-details({ characterId: material.character.id })">{{material.character.name.en}}</a>
		</div>
		<div>
			{{evolution.cost}} Gold
		</div>
	</div>
</div>