<div id="characters">
  <h1 class="ui header">Characters</h1>
  <h3 class="ui header">Name</h3>
  <div class="ui fluid action input" ng-class="{ icon: ctrl.filterValues.name }">
    <input ng-model="ctrl.filterValues.name" ng-model-options="{ debounce: 500 }" type="text">
    <button ng-click="advancedSearch = !advancedSearch" class="ui right labeled icon button">
      <i class="angle icon" ng-class="{ down: !advancedSearch, up: advancedSearch }"></i>
      <span ng-hide="advancedSearch">Show Filters</span>
      <span ng-show="advancedSearch">Hide Filters</span>
    </button>
  </div>
  <br>
  
  <div ng-show="!advancedSearch" class="ui labels">
    <span ng-repeat="(key, filter) in ctrl.filters"
      ng-show="ctrl.filterValues[key]"
      class="ui label">
      {{filter.name}}: {{ctrl.formatValue(ctrl.filterValues[key])}}
      <i class="delete icon" ng-show="!filter.required" ng-click="ctrl.filterValues[key] = undefined"></i>
    </span>
    
    <span ng-repeat="(key, filter) in ctrl.skillFilters"
      ng-show="ctrl.filterValues.skill[key]"
      class="ui label">
      {{filter.name}}: "{{ctrl.filterValues.skill[key]}}"
      <i class="delete icon" ng-click="ctrl.filterValues.skill[key] = undefined"></i>
    </span>
  </div>
  
  <div ng-show="advancedSearch" class="ui stackable two column grid">
    <div ng-repeat="(key, filter) in ctrl.filters" class="column">
      <h3 class="ui header">
        {{filter.name}}
        <span ng-show="filter.required" class="ui tiny basic red label">Required</span>
      </h3>
      <multi-select ng-model="ctrl.filterValues[key]" options="filter.options" multiple="filter.multiple" required="filter.required"></multi-select>
    </div>
  </div>
  
  <div ng-show="advancedSearch" class="ui stackable two column grid">
    <div ng-repeat="(key, filter) in ctrl.skillFilters" class="column">
      <h3 class="ui header">{{filter.name}}</h3>
      <div class="ui fluid input">
        <input ng-model="ctrl.filterValues.skill[key]" ng-model-options="{ debounce: 500 }" type="text">
      </div>
    </div>
  </div>
  
  <div class="ui stackable one column grid">
    <div class="right aligned column">
      <span class="ui right pointing label">Limit results to:</span>
      <div class="ui mini buttons">
        <button ng-repeat="limit in ctrl.pageLimits"
          ng-click="ctrl.setPageLimit(limit)"
          class="ui teal button" ng-class="{ basic: ctrl.pageLimit != limit }">{{limit}}</button>
      </div>
      &nbsp;
      <span class="ui right pointing label">Layout:</span>
      <div class="ui mini icon buttons">
        <button ng-repeat="layout in ctrl.layouts"
          ng-click="ctrl.layout = layout"
          class="ui orange button" ng-class="{ basic: ctrl.layout != layout }"><i class="{{layout}} layout icon"></i></button>
      </div>
    </div>
  </div>
  
  <div class="ui divider"></div>
  
  <div class="ui five column doubling grid"
    ng-show="ctrl.layout == 'grid'">
    <div ng-repeat="character in ctrl.characters | limitTo: ctrl.pageLimitActual" class="column">
      <a ui-sref="character-details({ characterId: character.id })">
        <character-card ng-model="character" class="ui link"></character-card>
      </a>
    </div>
  </div>
  
  <div ng-show="ctrl.layout == 'list'">
    <h5>
      Stats are calculated at
      <span class="ui label">level 60</span>
      <span class="ui label">5 superb</span>
      <span class="ui label">+40 bonus stats</span>
    </h5>
    <div class="scrollable table">
      <table class="ui unstackable table">
        <thead>
          <tr>
            <th><a ng-click="ctrl.sortBy = 'name'">Name <i class="long arrow down icon" ng-show="ctrl.sortBy === 'name'"></i></a></th>
      
            <th><a ng-click="ctrl.sortBy = 'power'">Pow <i class="long arrow down icon" ng-show="ctrl.sortBy === 'power'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'technique'">Tech <i class="long arrow down icon" ng-show="ctrl.sortBy === 'technique'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'vitality'">Vit <i class="long arrow down icon" ng-show="ctrl.sortBy === 'vitality'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'speed'">Spd <i class="long arrow down icon" ng-show="ctrl.sortBy === 'speed'"></i></a></th>
      
            <th><a ng-click="ctrl.sortBy = 'dribble'">Drb <i class="long arrow down icon" ng-show="ctrl.sortBy === 'dribble'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'defense'">Def <i class="long arrow down icon" ng-show="ctrl.sortBy === 'defense'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'steal'">Stl <i class="long arrow down icon" ng-show="ctrl.sortBy === 'steal'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'hp'">HP <i class="long arrow down icon" ng-show="ctrl.sortBy === 'hp'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'pass'">Pass <i class="long arrow down icon" ng-show="ctrl.sortBy === 'pass'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'reflex'">Rflx <i class="long arrow down icon" ng-show="ctrl.sortBy === 'reflex'"></i></a></th>
            <th><a ng-click="ctrl.sortBy = 'actionSpeed'">ActSpd <i class="long arrow down icon" ng-show="ctrl.sortBy === 'actionSpeed'"></i></a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="character in ctrl.characters | limitTo: ctrl.pageLimitActual">
            <td>
              <a ui-sref="character-details({ characterId: character.id })">{{character.name.en}}</a>
            </td>
            <td>{{character.primaryStats.power}}</td>
            <td>{{character.primaryStats.technique}}</td>
            <td>{{character.primaryStats.vitality}}</td>
            <td>{{character.primaryStats.speed}}</td>
            
            <td>{{character.secondaryStats.dribble.value}}</td>
            <td>{{character.secondaryStats.defense.value}}</td>
            <td>{{character.secondaryStats.steal.value}}</td>
            <td>{{character.secondaryStats.hp.value}}</td>
            <td>{{character.secondaryStats.pass.value}}</td>
            <td>{{character.secondaryStats.reflex.value}}</td>
            <td>{{character.secondaryStats.actionSpeed.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>