#characters {
  .scrollable.table {
    overflow: auto;
  }
  
  .ui.table {
    td, th {
      text-align: center;
      white-space: nowrap;
      
      &:first-child {
        text-align: left;
      }
      
      a {
        cursor: pointer;
      }
      
      img.ui.image {
        display: inline-block;
        width: 24px;
      }
    }
  }
}