character-chains-tab {
	.chain-wrapper:after {
		clear: both;
		content: ' ';
		display: block;
	}
	
	.card-wrapper {
		display: block;
		float: left;
		margin: 5px;
		max-width: 130px;
	}
	
	.ui.divider {
		clear: both;
	}
}